@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&family=Roboto+Slab:wght@300;400&family=Ubuntu&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
.app-body{
    height: 100vh;
    width: 100vw;
    background-color: rgb(228, 228, 228);
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Poppins', sans-serif;
}
.container{
    position: relative;
    border: 1px solid rgb(253, 253, 253);
    background-color: white;
    width:340px;
    height: 65%;
    box-shadow: rgb(0 0 0 / 24%) 0px 3px 8px;
    border-radius: 2px;
    padding:30px;
}